name: Build & Deploy Economic Times App

on: push
branches:
      - main
jobs:
  build:
    runs-on: self-hosted
 
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17 
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Maven
        run: |
          sudo apt-get update -y
          sudo apt-get install -y maven
          mvn -version

      - name: Build and Deploy
        run: |
          mvn clean package
          cp target/*.war /opt/apache-tomcat-11.0.15/webapps
          sudo /opt/apache-tomcat-11.0.15/bin/shutdown.sh || true
          sudo /opt/apache-tomcat-11.0.15/bin/startup.sh

         

